## Description

This notebook analyzes and visualizes housing data.

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

In [2]:
# The code was removed by Watson Studio for sharing.

In [4]:
body = client_464daa24304848f4948e3a7f91b9df80.get_object(Bucket='firstwatsonstudioproject-donotdelete-pr-sakpu6upwyjohe',Key='lab4dataset.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head(10)

,price,size,lsize,age,bathp,month,poolag,poolig,firep,sager,dagar,car_p,busy_rd,ele
0,95000,1360,1855,80,8,57,0,0,0,0,0,0,0,0
1,122500,1290,5790,18,7,55,0,0,1,1,0,0,0,0
2,75000,1056,1962,80,4,67,0,0,0,0,0,0,0,0
3,117000,1510,4500,80,10,49,0,0,0,0,0,0,0,0
4,143000,1544,4750,60,4,70,0,0,0,0,0,0,0,0
5,140000,1250,3700,80,4,71,0,0,1,0,0,0,0,0
6,113000,877,4400,80,6,58,0,0,0,0,0,0,0,0
7,125000,1500,5016,80,6,67,0,0,1,0,0,0,0,0
8,85000,1450,4506,80,4,49,0,0,0,0,0,0,0,0
9,119255,1775,4330,50,7,53,0,0,0,0,0,0,0,1